<div class="aboutSection">
	
	<div class="container">
	
	<div class="col-md-12 centered">
	<h3 class="aboutTitle">About Me</h3>
	
	<div class="col-md-10 offset-1">
	<br>
	<p class="aboutP">I currently study Visual Communication at the Arts Institute in Bournemouth, specialising my practice in editorial design. I’m passionate about fashion, illustration and how they can be applied in publication design. Throughout my time at AUB I plan to focus my projects in within this field.
</p>
	</div>
	
	</div>
	</div>
	
</div>