<div class="contactSection">	
	<div class="container">	
		<div class="col-md-12 centered">
			<h3 class="socialTitle">You can also find me here...</h3>	
			<div class="iconContainer">
				<a href="http://cowanlucy.tumblr.com"><img class="socialIcon" src="{{site.baseurl}}/assets/img/tumblr.svg"/></a>
				<a href="https://www.instagram.com/lucycowan/"><img class="socialIcon" src="{{site.baseurl}}/assets/img/insta.svg"/></a>
				<a href="https://uk.pinterest.com/lucycowan88/"><img class="socialIcon" src="{{site.baseurl}}/assets/img/pintrest.svg"/></a>
				<a href="https://twitter.com/_lucycowanVC"><img class="socialIcon" src="{{site.baseurl}}/assets/img/twitter.svg"/></a>
			</div>	
		</div>
	</div>	
</div>